html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* that's eric meyer's css reset. */
/* onto the real stuff. */

html {
  display: table;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5em;
  transition: color .2s ease-out;
  transition: background-color 1s ease-out;
}

a {
  color: inherit;
}

#output {
  font-size: 28pt;
  margin-bottom: 1em;
}

button {
  padding: .5em 1em;
  border: 2px solid #000;
  border-bottom-width: 5px;
  background-color: #fff;
  font: inherit;
  outline: none;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
  margin-top: 4px;
  border-bottom-width: 3px;
}

/* small screen? */

@media screen and (max-width: 700px) {
  #output {
    font-size: 12pt;
  }
  button {
    font-size: 12px;
  }
}
